<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <title>Hack computer</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
  <style>
    .clickable {
      cursor: pointer;
    }

    #screen {
      border: 1px solid grey
    }

    #keyboard {
      width: 200px;
      height: 100px;
      border: 1px solid grey
    }
  </style>
</head>

<body>

  <div id="app">

    <div class="section">

      <h1 class="title">HACK computer</h1>

      <div class="box">
        <div class="buttons">
          <button @click="nextTick" class="button">Next tick</button>
          <button @click="reset" class="button">Reset</button>
        </div>
      </div>

      <div class="columns">
        <div class="column">
          <div class="box">
            <h2 class="subtitle">ROM</h2>
            <div style="max-height: 65vh; overflow-y: scroll">
              <table id="rom" class="table">
                <thead>
                  <tr>
                    <th>Index</th>
                    <th>Bits</th>
                    <th>Instruction</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(bits, index) in shortenedROM" :class="{'is-selected': index === pc }">
                    <td>{{ index }}</td>
                    <td>{{ bits }}</td>
                    <td>{{ bits | instruction }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="box">
            <h2 class="subtitle">RAM</h2>
            <div class="field">
              <label class="label">Start view at</label>
              <div class="control">
                <input class="input" v-model.number="ramPage" type="number">
              </div>
            </div>
            <div style="max-height: 65vh; overflow-y: scroll">
              <table id="ram" class="table">
                <thead>
                  <tr>
                    <th>Index</th>
                    <th>Bits</th>
                    <th>Integer</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(bits, index) in visibleRAM" @click="selectRAM(index + ramPage)" class="clickable">
                    <td>{{ index + ramPage }}</td>
                    <td v-if="selectedRAM.index === index + ramPage" @click.stop>
                      <div class="field">
                        <div class="control">
                          <input v-model="selectedRAM.bits" class="input" type="text">
                        </div>
                        <p class="help is-danger" v-if="selectedRAM.error.items">Value needs 16 items, currently has
                          {{ selectedRAM.error.items }}</p>
                        <p class="help is-danger" v-if="selectedRAM.error.value">Value can only have 0s and 1s</p>
                      </div>
                      <div class="buttons">
                        <button @click.stop="updateRAM" class="button">Submit</button>
                        <button @click.stop="deselectRAM" class="button">Cancel</button>
                      </div>
                    </td>
                    <td v-else>{{ bits }}</td>
                    <td>{{ bits | bitsToInt }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="box">
            <h2 class="subtitle">CPU</h2>
            <table id="state" class="table">
              <tbody>
                <tr>
                  <th>PC</th>
                  <td>{{ state.pc }}</td>
                  <td>{{ state.pc | bitsToInt }}</td>
                </tr>
                <tr>
                  <th>A register</th>
                  <td>{{ state.aRegister }}</td>
                  <td>{{ state.aRegister | bitsToInt }}</td>
                </tr>
                <tr>
                  <th>D register</th>
                  <td>{{ state.dRegister }}</td>
                  <td>{{ state.dRegister | bitsToInt }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="box">
            <h2 class="subtitle">Screen</h2>
            <canvas id="screen" width="512px" height="256px"></canvas>
          </div>
          <div class="box">
            <h2 class="subtitle">Keyboard</h2>
            <div id="keyboard" tabindex="0" @keydown="onKeyDown" @keyup="onKeyUp">{{ pressedKey }}</div>
          </div>
        </div>
      </div>

    </div>

  </div>

  <script>
    function bitsToInt(bits) {
      let value = 0
      let factor = 1
      for (let i = bits.length - 1; i >= 0; i--) {
        value = value + parseInt(bits[i]) * factor
        factor = factor * 2
      }
      return value
    }
    const instructionMap = {
      "0101010": "0",
      "0111111": "1",
      "0111010": "-1",
      "0001100": "D",
      "0110000": "A",
      "1110000": "M",
      "0001101": "!D",
      "0110001": "!A",
      "1110001": "!M",
      "0001111": "-D",
      "0110011": "-A",
      "1110011": "-M",
      "0011111": "D+1",
      "0110111": "A+1",
      "1110111": "M+1",
      "0001110": "D-1",
      "0110010": "A-1",
      "1110010": "M-1",
      "0000010": "D+A",
      "1000010": "D+M",
      "0010011": "D-A",
      "1010011": "D-M",
      "0000111": "A-D",
      "1000111": "M-D",
      "0000000": "D&A",
      "1000000": "D&M",
      "0010101": "D|A",
      "1010101": "D|M"
    }
    const keyboardMap = {
      "a": "0000000001100001",
      "b": "0000000001100010",
      "c": "0000000001100011",
      "d": "0000000001100100",
      "e": "0000000001100101",
      "f": "0000000001100110",
      "g": "0000000001100111",
      "h": "0000000001101000",
      "i": "0000000001101001",
      "j": "0000000001101010",
      "k": "0000000001101011",
      "l": "0000000001101100",
      "m": "0000000001101101",
      "n": "0000000001101110",
      "o": "0000000001101111",
      "p": "0000000001110000",
      "q": "0000000001110001",
      "r": "0000000001110010",
      "s": "0000000001110011",
      "t": "0000000001110100",
      "u": "0000000001110101",
      "v": "0000000001110110",
      "w": "0000000001110111",
      "x": "0000000001111000",
      "y": "0000000001111001",
      "z": "0000000001111010",
      "Enter": "0000000010000000",
      "backspace": "0000000010000001",
      "ArrowLeft": "0000000010000010",
      "ArrowUp": "0000000010000011",
      "ArrowRight": "0000000010000100",
      "ArrowDown": "0000000010000101",
      "Home": "0000000010000110",
      "End": "0000000010000111",
      "PageUp": "0000000010001000",
      "PageDown": "0000000010001001",
      "Insert": "0000000010001010",
      "Delete": "0000000010001011",
      "Escape": "0000000010001100",
      "F1": "0000000010001101",
      "F2": "0000000010001110",
      "F3": "0000000010001111",
      "F4": "0000000010010000",
      "F5": "0000000010010001",
      "F6": "0000000010010010",
      "F7": "0000000010010011",
      "F8": "0000000010010100",
      "F9": "0000000010010101",
      "F10": "0000000010010110",
      "F11": "0000000010010111",
      "F12": "0000000010011000",
    }
    window.app = new Vue({
      el: '#app',
      data: {
        rom: [],
        state: {
          ram: [],
          pc: "0000000000000000",
          aRegister: "0000000000000000",
          dRegister: "0000000000000000"
        },
        selectedRAM: {
          index: null,
          bits: "0000000000000000",
          error: {
            items: null,
            value: null
          }
        },
        ramPage: 0,
        pressedKey: null
      },
      computed: {
        visibleRAM: function () {
          if (this.ramPage === "") {
            return this.state.ram.slice(0, 50)
          }
          return this.state.ram.slice(this.ramPage, this.ramPage + 50)
        },
        shortenedROM: function () {
          for (let i = this.rom.length - 1; true; i--) {
            if (this.rom[i] !== "0000000000000000") {
              return this.rom.slice(0, i + 1)
            }
          }
          return []
        },
        pc: function () {
          return bitsToInt(this.state.pc)
        }
      },
      filters: {
        bitsToInt: function (bits) {
          let value = 0
          let factor = 1
          for (let i = bits.length - 1; i >= 0; i--) {
            value = value + parseInt(bits[i]) * factor
            factor = factor * 2
          }
          if (bits.substring(0, 1) === "0") {
            return value
          }
          return value - 65536

        },
        instruction: function (bits) {
          if (bits[0] === "0") {
            return `Load ${bitsToInt(bits)} in A`
          }
          let instruction = instructionMap[bits.substring(3, 10)]
          let storeIn = ""
          if (bits[10] === "1") {
            storeIn = "A"
          }
          if (bits[11] === "1") {
            storeIn = storeIn.length > 0 ? storeIn + ", D" : "D"
          }
          if (bits[12] === "1") {
            storeIn = storeIn.length > 0 ? storeIn + ", M[A]" : "M[A]"
          }
          if (storeIn.length > 0) {
            instruction = `${instruction} store in ${storeIn}`
          }
          let jumpIf = ""
          if (bits[13] === "1") {
            jumpIf = "<0"
          }
          if (bits[14] === "1") {
            jumpIf = jumpIf.length > 0 ? jumpIf + " or =0" : "=0"
          }
          if (bits[15] === "1") {
            jumpIf = jumpIf.length > 0 ? jumpIf + " or >0" : ">0"
          }
          if (jumpIf.length > 0) {
            instruction = `${instruction} and jump if ${jumpIf}`
          }
          return instruction
        }
      },
      created: function () {
        fetch("/load").then(response => response.json()).then(response => {
          this.rom = response.rom;
          fetch("/reset").then(response => response.json()).then(state => {
            this.state = state;
            this.nextFrame()
          })
        })
      },
      methods: {
        nextTick: function () {
          fetch("/tick").then(response => response.json()).then(state => {
            this.state = state;
            this.nextFrame()
          })
        },
        reset: function () {
          fetch("/reset").then(response => response.json()).then(state => {
            this.state = state;
            this.nextFrame()
          })
        },
        selectRAM: function (index) {
          this.selectedRAM.error.items = null
          this.selectedRAM.error.value = null
          this.selectedRAM.bits = this.state.ram[index]
          this.selectedRAM.index = index
        },
        deselectRAM: function () {
          this.selectedRAM = {
            index: null,
            bits: "0000000000000000",
            error: {
              items: null,
              value: null
            }
          }
        },
        updateRAM: function () {
          this.selectedRAM.error.items = null
          this.selectedRAM.error.value = null
          if (this.selectedRAM.bits.length !== 16) {
            this.selectedRAM.error.items = this.selectedRAM.bits.length
            return
          }
          if ([...this.selectedRAM.bits].filter(a => a !== "0" && a !== "1").length > 0) {
            this.selectedRAM.error.value = true
            return
          }
          fetch("/set-ram", {
            method: "POST",
            body: JSON.stringify(this.selectedRAM)
          }).then(response => response.json()).then(
            state => {
              this.state = state;
              this.deselectRAM()
              this.nextFrame()
            }
          )
        },
        nextFrame: function () {
          let c = document.getElementById("screen")
          let ctx = c.getContext('2d')
          ctx.clearRect(0, 0, 512, 256)
          for (let i = 0; i < 131072; i++) {
            if (this.state.ram[16384 + Math.floor(i / 16)].substring(i % 16, i % 16 + 1) === "1") {
              ctx.fillRect(i % 512, Math.floor(i / 512), 1, 1)
            }
          }
        },
        onKeyDown: function (event) {
          if (event.key === this.pressedKey) {
            return
          }
          fetch("/set-ram", {
            method: "POST",
            body: JSON.stringify({
              index: 24576,
              bits: keyboardMap[event.key] || "0000000000000000"
            })
          })
            .then(response => response.json())
            .then(state => {
              this.pressedKey = event.key
              this.state = state;
            })
        },
        onKeyUp: function () {
          fetch("/set-ram", {
            method: "POST",
            body: JSON.stringify({
              index: 24576,
              bits: "0000000000000000"
            })
          })
            .then(response => response.json())
            .then(state => {
              this.pressedKey = null
              this.state = state;
            })
        }
      }
    })
  </script>

</body>

</html>